/* h1, a{
    border: 5px red solid;
    padding: 10px;
    margin: 0;
    width: 500px;
    height: 200px;
} */

h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0px;
    padding: 20px;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color : black;
}

a:hover{
    color: blue;
}

#active {
    color : blue;
}

/* ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0px;
    padding: 20px;
} */

body {
    margin: 0px;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#grid ol {
    list-style: none;
    border-right: 1px solid gray;
    width: 100px;
    height: 100%;
    margin: 0px;
    padding: 20px;
}

#grid ol li{
    border: 1px solid orange;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
}

@media(max-width:800px){
    #grid {
        display: block;
    }
    #grid ol{
        border-right: none;
    }
    h1{
        border-bottom: none;
        font-size: 40px;
    }
}